<div class="card" style="margin-top:400px;margin-left:70% ;background-color:rgb(230, 204, 172); width: 350px;">
<div class="card-header">
Select your Movie</div>
<div class="card-body">
    <h5 class="card-title">Contact our team</h5>
    <p class="card-text">
        Having troubles?
    </p>

</div>
</div>
